apiVersion: v1
kind: Service
metadata:
  name: k8s-mcp
  namespace: mcp-server
  labels:
    app: k8s-mcp
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 8080
    protocol: TCP
    targetPort: 8080
  - name: metrics
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: k8s-mcp